build/
*.egg-info
.eggs/
dist/
__pycache__/

.env/
.venv/
venv/

output/

.ipynb_checkpoints/
.virtual_documents/
.cache/
.config/
.ipython/
.jupyter/
.local/
.npm/
.bash_history

.DS_Store
settings.json