click
connexion[swagger-ui]
flask-cors
flask-reverse-proxy-fix
werkzeug<1
tornado
kgx
PyShEx
rdflib
nanopub
SPARQLWrapper
requests
reasoner-validator
# rdflib==4.2.2
# -e git+https://github.com/vemonet/connexion.git@fix-servers-overwrite#egg=connexion[swagger-ui]