click
connexion[swagger-ui]
flask-reverse-proxy-fix
werkzeug<1
# -e git+https://github.com/vemonet/connexion.git@fix-servers-overwrite#egg=connexion[swagger-ui]
tornado
kgx
PyShEx
rdflib
nanopub
SPARQLWrapper
# rdflib==4.2.2